<h2>Order Confirmation</h2>
<table>
    <tr>
        <td><b>Status:</b></td>
        <td>{{status}}</td>
    </tr>
    <tr>
        <td><b>Name:</b></td>
        <td>{{item.name}}</td>
    </tr>
    <tr>
        <td><b>Price:</b></td>
        <td>{{item.price}}</td>
    </tr>
    <tr>
        <td><b>Quantity:</b></td>
        <td>{{item.quantity}}</td>
    </tr>
</table>
